apiVersion: apps/v1
kind: Deployment
metadata:
  name: eureka-server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: eureka-server
  template:
    metadata:
      labels:
        app: eureka-server
    spec:
      containers:
        - name: eureka-server
          image: at_devops_spring-eureka-server:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 8761
---
apiVersion: v1
kind: Service
metadata:
  name: eureka-server-service
spec:
  selector:
    app: eureka-server
  ports:
    - port: 8761
      targetPort: 8761
      nodePort: 31000
  type: NodePort

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: veiculo-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: veiculo-service
  template:
    metadata:
      labels:
        app: veiculo-service
    spec:
      containers:
        - name: veiculo-service
          image: at_devops_spring-veiculo-service:latest
          ports:
            - containerPort: 8085
          env:
            - name: EUREKA_SERVER_URI
              value: "http://eureka-server:8761/eureka"
---
apiVersion: v1
kind: Service
metadata:
  name: veiculo-service
spec:
  selector:
    app: veiculo-service
  ports:
    - port: 8085
      targetPort: 8085
      nodePort: 31001
  type: LoadBalancer